/* styles.css */

#left-container {
    -fx-background-color: #000000;
}

#logo-pane {
    -fx-alignment: center;
    -fx-padding: 10;
}

#logo {
    -fx-fit-height: 100.0;
    -fx-fit-width: 100.0;
}

#app-name {
    -fx-font-size: 35;
    -fx-text-fill: white;
}

#login-container {
    -fx-spacing: 10;
}

#username, #password {
    -fx-prompt-text-fill: #808080;
    -fx-background-radius: 50;
}

#login-button {
    -fx-background-radius: 15;
}

#signup-link {
    -fx-text-fill: white;
}

#signup-link:hover {
    -fx-text-fill: blue;
}

VBox {
    -fx-padding: 20;
}

TextField, PasswordField, Button {
    -fx-padding: 10;
    -fx-pref-width: 250;
}

Hyperlink {
    -fx-text-fill: blue;
}

Hyperlink:hover {
    -fx-text-fill: darkblue;
}


#root {
    -fx-background-color: #f0f0f0;
}

#label-title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#button-large {
    -fx-font-size: 18;
    -fx-min-width: 120;
    -fx-min-height: 60;
}

/* stylesTA.css */

.main-container {
    -fx-background-color: #f0f0f0;
}

Label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

HBox, VBox {
    -fx-spacing: 5;
}

ListView {
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: white;
}

#itineraryListView {
    -fx-background-color: rgb(181, 207, 240); /* Set the background color */
}

/* Customize the appearance of the items in the ListView */
#itineraryListView .list-cell {
    -fx-padding: 5 10; /* Set padding for each cell */
    -fx-border-color: rgb(115, 223, 223); /* Set border color */
    -fx-border-width: 0 0 1 0; /* Set bottom border only */
    -fx-background-color: rgb(170, 205, 209); /* Set background color for each cell */
    
    /* Center-align and make the text bold */
    -fx-alignment: center; 
    -fx-font-weight: bold;
}

/* Style selected cells */
#itineraryListView .list-cell:selected {
    -fx-background-color: #a6d8a8; /* Set background color for selected cells */
}

/* Style the focus indicator (the blue border around the selected cell) */
#itineraryListView .list-view:focused .list-cell:focused {
    -fx-background-color: transparent; /* Remove background color for focused cells */
    -fx-background-insets: 0; /* Remove background insets for focused cells */
    -fx-background-radius: 0; /* Remove background radius for focused cells */
    -fx-border-width: 0 0 1 0; /* Set bottom border only for focused cells */
    -fx-border-color: #0078d4; /* Set border color for focused cells */
}

.main-vbox {
    -fx-alignment: center; /* Center align the content */
}
